.btn-link {
    color: var(--font-color-light);
    text-decoration: none;
    transition: background-color 0.2s ease;
    border-radius: 0 !important;
}

.btn-link:focus {
    color: var(--font-color-light) !important;
    background-color: var(--red-Quick);
}

.header {
    background-color: var(--blue-Quick);
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
}

#header-menu {
    background-color: var(--ligth-blue-Quick);
}

@media(prefers-color-scheme: light) {}

@media(prefers-color-scheme: dark) {}