@media(prefers-color-scheme: dark) {}

@media(prefers-color-scheme: light) {}

.inicio-sesion-usuario {
    background-color: var(--red-Quick);
    border-radius: 1rem;
    color: var(--font-color-light);
}

.inicio-sesion-usuario-left {
    background-image: url("../../assets/images/inicio-sesion-usuario-image.jpg");
    background-size: cover;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
}

.inicio-sesion-usuario-right .inicio-sesion-usuario-custom-input {
    background-color: var(--red-Quick);
    border: none;
    border-bottom: 2px solid var(--font-color-light);
    outline: none;
    box-shadow: none;
    color: inherit;
    border-radius: 0px;
    transition: border-bottom 0.2 ease;
    transition: border-radius 0.2 ease;

}

.inicio-sesion-usuario-right .inicio-sesion-usuario-custom-input:focus {
    background-color: rgba(156, 30, 42, 0.5);
    border: none;
    border-radius: 0.5rem;
    border-bottom: none;
    outline: none;
    box-shadow: none;
    color: inherit;
}

.inicio-sesion-usuario-right .inicio-sesion-usuario-register {
    border-top: 1px solid var(--font-color-dark);
}