/*para el menu en dispociones medianas y pequeñas*/
@media(max-width: 768px) and (min-width: 425px) {
    .offcanvas-start {
        max-width: 30.625rem;
    }
}

@media(max-width: 425px) {
    .offcanvas-start {
        max-width: 15.625rem;
    }
}

@media(prefers-color-scheme: dark) {
    .menu-sm-lateral-gerente {
        color: var(--font-color-light);
        background-color: var(--blue-Quick);
    }

    .menu-lateral-gerente ul{
        background-color: var(--blue-Quick);
    }
}

@media(prefers-color-scheme: light) {
    .menu-sm-lateral-gerente {
        color: var(--font-color-light);
        background-color: var(--red-Quick);
    }

    .menu-lateral-gerente ul {
        background-color: var(--red-Quick);
    }
}

/*para el menu en disposiciones grandes*/
.menu-lateral-gerente {
    box-sizing: border-box;
    transition: width 0.3s ease;
    width: 8.333333%;
    z-index: 1030;
}

.menu-lateral-gerente.expanded {
    width: 25%;
}

.menu-item {
    cursor: pointer;
    padding: 8px 0.5rem;
}

.menu-details summary {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    list-style: none;
}

.menu-details summary::-webkit-details-marker {
    display: none;
}

.menu-details-link {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    list-style: none;
    justify-content: center !important;
    transition: padding-left 0.3s ease,
        color 0.3s ease,
        border-top-left-radius 0.3s ease,
        border-bottom-left-radius 0.3s ease;
}

.menu-details-link .texto-menu {
    opacity: 0;
    width: 0;
    transition: opacity 0.3s ease, width 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0 !important;
}

.menu-lateral-gerente.expanded .menu-details-link {
    padding-left: 3rem;
    justify-content: flex-start !important;
}

.menu-lateral-gerente.expanded .menu-details-link .texto-menu {
    opacity: 1;
    width: auto;
    margin-left: 0.75rem !important;
}

.menu-submenu {
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-submenu a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 4px 0;
    transition: background-color 0.3s ease, border-top-left-radius 0.3s ease, border-bottom-left-radius 0.3s ease;
}

.menu-submenu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.menu-lateral-gerente .menu-details summary {
    justify-content: center !important;
}

.menu-lateral-gerente .texto-menu {
    opacity: 0;
    width: 0;
    transition: opacity 0.3s ease, width 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0 !important;
}

.menu-lateral-gerente.expanded .menu-item {
    padding-left: 1rem;
    margin-left: 0;
}

.menu-lateral-gerente.expanded .menu-details summary {
    padding-left: 3rem;
    justify-content: flex-start !important;
    transition: padding-left 0.3s ease,
        color 0.3s ease,
        border-top-left-radius 0.3s ease,
        border-bottom-left-radius 0.3s ease;
}

.menu-lateral-gerente.expanded .texto-menu {
    opacity: 1;
    width: auto;
    margin-left: 0.75rem !important;
}

.menu-lateral-gerente .imagen-usuario {
    border-radius: 50%;
    border: 0.188rem solid var(--font-color-light);
}

.imagen-usuario {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.menu-lateral-gerente.expanded .imagen-usuario {
    width: 80px;
    height: 80px;
}

@media(prefers-color-scheme: light) {
    .menu-lateral-gerente {
        background-color: var(--red-Quick);
        color: white;
    }

    .menu-lateral-gerente.expanded .menu-details summary:hover {
        color: var(--red-Quick);
        background-color: var(--default-background-color);
        padding-left: 4rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    .menu-lateral-gerente.expanded .menu-details-link:hover {
        color: var(--red-Quick);
        background-color: var(--default-background-color);
        padding-left: 4rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    .menu-items-scrollable {
        flex-grow: 1;
        flex-basis: 0;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        scrollbar-color: var(--font-color-light) var(--ligth-red-Quick);
        scrollbar-width: thin;
    }
}

@media(prefers-color-scheme: dark) {
    .menu-lateral-gerente {
        background-color: var(--blue-Quick);
        color: white;
    }

    .menu-lateral-gerente.expanded .menu-details summary:hover {
        color: var(--font-color-light);
        background-color: var(--default-background-color);
        padding-left: 4rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    .menu-lateral-gerente.expanded .menu-details-link:hover {
        color: var(--font-color-light);
        background-color: var(--default-background-color);
        padding-left: 4rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    .menu-items-scrollable {
        flex-grow: 1;
        flex-basis: 0;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        scrollbar-color: var(--font-color-light) var(--ligth-blue-Quick);
        scrollbar-width: thin;
    }
}